body, blockquote, button, code, dd, div, dl, dt, fieldset, figure, form, h1, h2, h3, h4, h5, h6, input, legend, li, ol, p, pre, td, textarea, th, ul { margin: 0; padding: 0}
body { font: 12px/1.5 tahoma, arial, Microsoft yahei; color: #000; -webkit-font-smoothing: antialiased;}
a { color: #333}
li, ol, ul { list-style: none}
a:hover { color:#e77817;}
a, a:hover { text-decoration: none}
:focus { outline: 0 none; }
a:active, a:hover { outline: 0 none}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary { display: block;}
fieldset, img { border:0 none;}
a,img { vertical-align: top;}
address, caption, cite, code, dfn, em, optgroup, th, var { font-style: normal; font-weight: 400 }
h1, h2, h3, h4, h5, h6 { font-size: 100%}
abbr, acronym { border: 0 none; font-variant: normal}
button, input, optgroup, option, select, textarea { font-family: inherit; font-size: 100%; font-style: inherit; font-weight: inherit}
button, code, input, kbd, samp, select, textarea, tt { font-size: 100%}
table { border-collapse: collapse; border-spacing: 0}
sub, sup { font-size: 100%; vertical-align: baseline}
.clearfix:after { content: '.'; height: 0; display: block; clear: both; visibility: hidden}
.clearfix { *zoom:1}
.hidden { display: none;}
button, input[type=submit], input[type=reset], input[type=button], input[type=text]{-webkit-appearance: none;border-radius: 0;}
html{-webkit-tap-highlight-color: transparent;}
button, input, select, textarea{outline: 0;resize: none;}
.wrap{ background:url(exhibition-bg.jpg); background-size:100% 100%; width:100%; height:100%; top:0; bottom:0; left:0 ; right:0; position: absolute;}
.h5-bton{ position:relative; top:50%;}
.h5-jl{ padding:0 30px;}
.add-some{ float:left;}
.see-see{ float:right;}
.comon-but{ background-color:#e67817; cursor:pointer; transition:all .5s; -webkit-transition:all .5s; -moz-transition:all .5s; -ms-transition:all .5s; -o-transition:all .5s; -moz-box-shadow:0px 2px 10px #000; -webkit-box-shadow:0px 2px 10px #000; -o-box-shadow:0px 2px 10px #000; -ms-box-shadow:0px 2px 10px #000; box-shadow:0px 2px 10px #000;  display:block; text-align:center; color:#fff; height:38px; line-height:38px; border-radius:2px; -webkit-border-radius:2px; -moz-border-radius:2px; -ms-border-radius:2px; -o-border-radius:2px; width:45%; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;}
.add-some:hover,.see-see:hover{ background-color:#d66b0c; color:#fff; }
.h5{ width:100%; position:relative;}
.h5-pic img{ width:100%;}
.h5-tx{ position:absolute; width:100px; height:100px; border-radius:50%; -webkit-border-radius:50%; -moz-border-radius:50%; -ms-border-radius:50%; -o-border-radius:50%; background-color:#000; top:49px; left:50%; margin-left:-50px;}
.h5-tx img{ width:100px; height:100px;}
.h5-inner{ margin-top:60px;}
.h5-inner{ text-align:center; }
.user span{ font-size:18px; color:#e67817; font-weight:bold; padding-right:10px;}
.h5-inner h2{ font-size:17px;  margin-top:2px; font-weight:bold;}
.h5-xx{ border:dashed 2px #e67817; text-align:left; margin:15px 10px 0 10px; padding:10px; font-size:14px; }
.h5-xx h3{ font-size:18px; font-weight:900; text-align:center; color:#333;}
.zbf{ color:#000; font-size:12px; text-align:center;}
.zhanwei{ color:#000; font-size:14px; text-indent:2em; text-align:justify; margin-top:10px;}
.sentiment{ padding-top:15px;}
.sentiment .shuliang{ font-size:53px; color:#e67817; font-weight:bold; vertical-align:middle; padding-left:10px;}
.h5-ico{ background:url(h5-ico.png) no-repeat; background-size:95px 95px; display:inline-block;}
.renqi{ background-position:0 -30px; width:75px; height:40px; vertical-align:middle;}
.wjx{ background-position:-69px -10px; width:30px; height:30px;}
.h5-nr{ padding-top:10px;}
.h5-nr p{ font-size:11px; padding-bottom:5px;}
.h5-nr p span{ color:#e67817;}
.zhu{ text-align:right; padding-right:10px; color:#808080; font-size:9px; padding-top:5px;}
.collection{ background-color:#f5f5f5; margin-top:10px; width:100%;}
.collection-jl{ padding:17px 10px 10px 10px;}
.rq-tit{ font-size:15px; color:#333;}
.collection-lb{ padding-top:15px; width:100%;}
.collection-lb li{ width:12.5%; float:left; margin-bottom:5px;}
.collection-lb img{ width:40px; height:40px;}
.footer{ height:55px;}
.footer-inner{ margin:0 10px;}
.dibu{ background-color:#1c1c20; width: 100%; height:55px; line-height:55px; bottom: 0; z-index: 900; position:fixed;}
.footer-tx{ position:absolute; left:2px; width:60px; height:60px; border-radius:50%; -webkit-border-radius:50%; -moz-border-radius:50%; -ms-border-radius:50%; -o-border-radius:50%; background-color:#fff; top:-10px; border:solid 3px #1c1c20;}
.footer-tx img{ width:60px; height:60px;}
.baoming{ text-align:center; position:absolute; right:10px; top:10px;}
.baoming a{ color:#fff; height:32px; line-height:32px; background-color:#1c1c20; height:32px; line-height:32px; transition:all .5s; -webkit-transition:all .5s; -moz-transition:all .5s; -ms-transition:all .5s; -o-transition:all .5s; border:solid 1px #e67817; display:block; font-size:14px; padding:0 8px;}
.cargo-sharing{ margin:20px 10px;}
.cargo-sharing p{ font-size:15px; color:#e67817; font-weight:900; text-align:center;}
.teacher{ padding-top:10px;}
.teacher img{ width:100%;}

.schedule img{ width:100%;}
.fx{ font-size:17px; font-weight:bold;}
.zhezhao{ background-color:rgba(0, 0, 0, 0.7); height: 100%; left: 0; position: fixed; top: 0; width: 100%; z-index: 999;}
.zhezhao-pic { text-align:right; padding-right:10px;}
.zhezhao-pic img{ width:50%; }
